@import '../../../../public/styles/variables.sass'

#editPanel
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    flex-direction: column
    div
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        flex-direction: row
   

.textInfo
    text-align: center

button
    margin-top: 20px
    margin-right: 5%


@media (max-width: $small)
   
 

@media (max-width: $medium) and (min-width: $small + 1px)
   
    

@media (max-width: $medium-large) and (min-width: $medium + 1px)


@media (max-width: $large) and (min-width: $medium-large + 1px)





