@import '../../../../public/styles/variables.sass'

#editPanel
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    flex-direction: column


.textInfo
    text-align: center

.btn
    margin-top: 20px
.buttons-section
    display: flex
    justify-content: space-around

h6
    font-size: 0.9em
    font-family: Roboto
    font-weight: light
h1
    font-size: 1.1em
    font-family: Roboto
    font-weight: light



@media (max-width: $small)
   
 

@media (max-width: $medium) and (min-width: $small + 1px)
   
    

@media (max-width: $medium-large) and (min-width: $medium + 1px)


@media (max-width: $large) and (min-width: $medium-large + 1px)





